@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Raleway";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 1.8s ease 0s;
  -o-transition: opacity 1.8s ease 0s;
  transition: opacity 1.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: visibility 1.8s ease-in-out 0s;
  -o-transition: visibility 1.8s ease-in-out 0s;
  transition: visibility 1.8s ease-in-out 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: translateX(0) rotate(0) scale(1);
      -ms-transform: translateX(0) rotate(0) scale(1);
          transform: translateX(0) rotate(0) scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: translateX(-110%) rotate(2deg) scale(1.1);
      -ms-transform: translateX(-110%) rotate(2deg) scale(1.1);
          transform: translateX(-110%) rotate(2deg) scale(1.1);
  -webkit-transition: visibility 1s ease-in-out, -webkit-transform 1s ease-in-out 0s;
  transition: visibility 1s ease-in-out, -webkit-transform 1s ease-in-out 0s;
  -o-transition: transform 1s ease-in-out 0s, visibility 1s ease-in-out;
  transition: transform 1s ease-in-out 0s, visibility 1s ease-in-out;
  transition: transform 1s ease-in-out 0s, visibility 1s ease-in-out, -webkit-transform 1s ease-in-out 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  color: white;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease;
  -o-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
}

.page__title {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  font-weight: 200;
  margin-bottom: 1.875rem;
  letter-spacing: 1em;
  opacity: 0;
}

.loaded .page__title {
  -webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both 1s;
          animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both 1s;
}

.loaded .page {
  opacity: 1;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.loaded .preloader {
  -webkit-animation: transformPreloader 1.5s forwards 0.4s;
          animation: transformPreloader 1.5s forwards 0.4s;
}

.preloader__inner {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.preloader__text {
  padding-left: 0.375em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.375em;
  -webkit-transform: translateY(5.625rem);
      -ms-transform: translateY(5.625rem);
          transform: translateY(5.625rem);
  -webkit-animation: transformText 1s ease-in-out 1s forwards;
          animation: transformText 1s ease-in-out 1s forwards;
}

.loaded .preloader__text {
  -webkit-animation: hiddenText 1s ease-in-out forwards;
          animation: hiddenText 1s ease-in-out forwards;
}

.preloader__loading {
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.slider__wrapper {
  margin-bottom: 3.125rem;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  -o-transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  cursor: -webkit-grab;
  cursor: grab;
}

.slider__slide {
  color: white;
  font-size: 6.25rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(200%);
      -ms-transform: translateX(200%);
          transform: translateX(200%);
}

.slider__slide:nth-child(1) {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.slider__slide:nth-child(2) {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.loaded .slider__slide:nth-child(1) {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.loaded .slider__slide:nth-child(2) {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.loaded .slider__slide:nth-child(3) {
  -webkit-animation: transformSlides 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
          animation: transformSlides 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
}

.loaded .slider__slide:nth-child(4) {
  -webkit-animation: transformSlides 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
          animation: transformSlides 1.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
}

.loaded .slider__slide:nth-child(5) {
  -webkit-animation: transformSlides 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
          animation: transformSlides 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
}

.loaded .slider__slide:nth-child(6) {
  -webkit-animation: transformSlides 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
          animation: transformSlides 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
}

.loaded .slider__slide:nth-child(7) {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.loaded .slider__slide:nth-child(8) {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.loaded .slider__slide:nth-child(9) {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.loaded .slider__slide:nth-child(10) {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.slider__slide img {
  border-radius: 1.875rem;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.slider__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1.875rem;
  padding: 0rem 1.25rem 0rem 1.25rem;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-in-out 0.5s;
  -o-transition: opacity 0.8s ease-in-out 0.5s;
  transition: opacity 0.8s ease-in-out 0.5s;
}

.loaded .slider__navigation {
  opacity: 1;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1em;
  text-transform: uppercase;
  position: relative;
  font-weight: 200;
}

.titles__wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100px);
      -ms-transform: translateY(100px);
          transform: translateY(100px);
  -webkit-transition: -webkit-transform 0.8s ease-in-out 0.5s;
  transition: -webkit-transform 0.8s ease-in-out 0.5s;
  -o-transition: transform 0.8s ease-in-out 0.5s;
  transition: transform 0.8s ease-in-out 0.5s;
  transition: transform 0.8s ease-in-out 0.5s, -webkit-transform 0.8s ease-in-out 0.5s;
}

.loaded .titles__wrapper {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

.button__prev {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.button__prev::before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 0.8125rem solid #fff;
  border-bottom: 0.3125rem solid #000;
  background-color: #000;
}

.button__prev::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background: #000;
}

.button__next {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.button__next::before {
  content: "";
  position: absolute;
  top: 0.3125rem;
  right: 0;
  width: 0;
  height: 0;
  border-right: 0.8125rem solid #fff;
  border-bottom: 0.3125rem solid #000;
  background-color: #fff;
}

.button__next::after {
  content: "";
  position: absolute;
  top: 0.625rem;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background: #000;
}

@-webkit-keyframes transformText {
  from {
    -webkit-transform: translateY(5.625rem);
            transform: translateY(5.625rem);
  }

  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes transformText {
  from {
    -webkit-transform: translateY(5.625rem);
            transform: translateY(5.625rem);
  }

  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes hiddenText {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(-5.625rem);
            transform: translateY(-5.625rem);
  }
}

@keyframes hiddenText {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(-5.625rem);
            transform: translateY(-5.625rem);
  }
}

@-webkit-keyframes transformPreloader {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }

  100% {
    -webkit-transform: translate(0, -120%) rotate(2deg) scale(1.2);
            transform: translate(0, -120%) rotate(2deg) scale(1.2);
  }
}

@keyframes transformPreloader {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }

  100% {
    -webkit-transform: translate(0, -120%) rotate(2deg) scale(1.2);
            transform: translate(0, -120%) rotate(2deg) scale(1.2);
  }
}

@-webkit-keyframes transformSlides {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes transformSlides {
  0% {
    -webkit-transform: translateX(200%);
            transform: translateX(200%);
  }

  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 75em) {
  .preloader__text {
    font-size: 3rem;
  }

  .slider__slide {
    height: 18.75rem;
  }

  .titles {
    font-size: 3.75rem;
  }
}

@media (max-width: 20em) {
  .preloader__text {
    font-size: 1.875rem;
  }

  .slider__slide {
    height: 12.5rem;
  }

  .titles {
    font-size: 2.625rem;
  }
}

@media (max-width: 61.99875em) {
  .slider__slide:ntn-child(2) {
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%);
  }

  .loaded .slider__slide:nth-child(2) {
    -webkit-animation: transformSlides 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
            animation: transformSlides 1.6s cubic-bezier(0.165, 0.84, 0.44, 1) forwards 0.5s;
  }
}

@media (min-width: 20em) and (max-width: 75em) {
@supports (font-size: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem )) {
    .preloader__text {
      font-size: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.4659090909rem  +  2.0454545455vw , 3rem )) {
    .preloader__text {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 55);
    }
}

@supports (height: clamp( 12.5rem , 10.2272727273rem  +  11.3636363636vw , 18.75rem )) {
    .slider__slide {
      height: clamp( 12.5rem , 10.2272727273rem  +  11.3636363636vw , 18.75rem );
    }
}

@supports not (height: clamp( 12.5rem , 10.2272727273rem  +  11.3636363636vw , 18.75rem )) {
    .slider__slide {
      height: calc(12.5rem + 6.25 * (100vw - 20rem) / 55);
    }
}

@supports (font-size: clamp( 2.625rem , 2.2159090909rem  +  2.0454545455vw , 3.75rem )) {
    .titles {
      font-size: clamp( 2.625rem , 2.2159090909rem  +  2.0454545455vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 2.625rem , 2.2159090909rem  +  2.0454545455vw , 3.75rem )) {
    .titles {
      font-size: calc(2.625rem + 1.125 * (100vw - 20rem) / 55);
    }
}
}

@media (any-hover: hover) {
  .button__prev:hover {
    -webkit-transform: translateX(-0.3125rem);
        -ms-transform: translateX(-0.3125rem);
            transform: translateX(-0.3125rem);
  }

  .button__next:hover {
    -webkit-transform: translateX(0.3125rem);
        -ms-transform: translateX(0.3125rem);
            transform: translateX(0.3125rem);
  }
}